<html>

<head>
    <title>Fastbot navigation Webpage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

    <!-- EventEmitter2 (needed by mjpegcanvas) -->
    <script src="https://cdn.jsdelivr.net/npm/eventemitter2@0.4.14/lib/eventemitter2.js"></script>

    <script src="https://s3.eu-west-1.amazonaws.com/rosject.io/js/roslib.min.js"></script>
    <link rel="stylesheet" href="styles.css">

    <script type="text/javascript" src="mjpegcanvas.min.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script> -->

    <!-- Map Visualization-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/easeljs/lib/easeljs.min.js"></script>
    <script type="text/javascript" src="ros2d.js"></script>

    <!-- 3D visualization -->
    <script src="./libs/three.min.js"></script>
    <script src="./libs/ColladaLoader.js"></script>
    <script src="./libs/ColladaLoader2.js"></script>
    <script src="./libs/STLLoader.js"></script>
    <script src="./libs/ros3d.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="d-flex flex-column h-100">
    <!-- header of the page -->
    <header class="header">
        <div class="container">
            <div class="jumbotron text-center">
                <h1>FastBot Navigation</h1>
            </div>
        </div>
    </header>

    <!-- main content -->
    <main id="vueApp">
        <div class="container">
            <div class="row">
                <!-- Contains both connection and joystick-->

                <div class="col-md-3">
                    <div class="row">
                        <!--Connection interface-->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h3>{{ menu_title }}</h3>
                                    <hr>
                                    <label>ROSBridge address</label>
                                    <br>
                                    <input type="text" v-model="rosbridge_address" />
                                    <br>
                                    <button class="mt-2 btn btn-success" v-if="connected"
                                        @click="disconnect">Connected!</button>
                                    <button class="mt-2 btn btn-primary" v-else @click="connect">Connect!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--New row-->
                    <div class="row">
                        <!--Joystick-->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h3 class="text-center">Joystick</h3>
                                    <hr>
                                    <p>Use to move the robot</p>
                                    <div id="dragstartzone" @mousedown="startDrag" @mousemove="doDrag">
                                    </div>
                                    <div id="dragCircle" :style="dragCircleStyle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Map-->
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="text-center">Map</h2>
                            <hr>
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <!-- Camera Feed-->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="text-center">Camera</h4>
                            <hr>
                            <div id="divCamera"></div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Make another Row for the rest of the elements-->
            <div class="row">
                <!--Robot Model-->
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h3 class="text-center">Robot Model</h3>
                            <hr>
                            <div id="div3DViewer"></div>
                        </div>
                    </div>
                </div>

                <!-- Waypoints buttons-->
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="text-center">Waypoints</h2>
                            <hr>
                            <p>Some actions for the robot</p>
                            <br>
                            <button class="btn btn-primary" :disabled="navigating"
                                @click="sendNavGoal('Sofa')">Sofa</button>
                            <button class="btn btn-primary" :disabled="navigating"
                                @click="sendNavGoal('Kitchen')">Kitchen</button>
                            <button class="btn btn-primary" :disabled="navigating"
                                @click="sendNavGoal('Living-room')">Living-room</button>
                        </div>
                    </div>
                </div>

                <!--Robot State Infos-->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">Infos</h3>
                            <hr />
                            <p>Linear Velocity: {{ joystick.vertical.toFixed(3) }}</p>
                            <br />
                            <p>Angular Velocity: {{ joystick.horizontal.toFixed(3) }}</p>
                            <br />
                            <p>Position: X: {{ position.x.toFixed(2) }}, Y: {{ position.y.toFixed(2) }}, Z: {{
                                position.z.toFixed(2) }} </p>
                            <br />
                            <p>Orientation: R: {{ orientation.r.toFixed(2) }}, P: {{ orientation.p.toFixed(2) }}, Y: {{
                                orientation.y.toFixed(2) }}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </main>

    <!-- footer -->
    <footer class="footer mt-auto bg-dark text-light">
        <div class="container">
            <h5>Footer</h5>
        </div>
    </footer>

    <script type="text/javascript">
        // We could have loaded main.js simply with:
        //  <script type="text/javascript" src="main.js">
        // BUT we were having caching-related problems.
        // Loading main.js with a Date.now() in the URL we avoid using cache

        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'main.js?v=3.' + Date.now();
        document.head.appendChild(script);
    </script>
</body>

</html>