#dragstartzone {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid rgb(137, 123, 228);
    border-radius: 50%;
    z-index: 10;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#dragCircle {
    position: absolute;
    z-index: 9;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: rgba(59, 148, 242, 0.3);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#dragCircle:hover {
    background-color: rgb(237, 166, 242);
}

.header {
    height: 150px;
    display: flex;
    /* Example: set a fixed height of 80 pixels */
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    width: 100%;
    overflow-x: hidden;
}

p {
    line-height: 0.2;
    /* Sets line height to 1.5 times the font size */
}

.card {
    /*Make sure the children have the same height and width as the parent*/
    display: flex;
}

.card-body {
    padding-left: 20px;
    align-items: center
}

.card-body input {
    width: 100%;
    /* Ensure the input tries to fill the container */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
}

#divCamera {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /* center horizontally */
    display: block;
    overflow: hidden;
}

#map {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /* center horizontally */
    display: block;
    overflow: hidden;
}

#div3DViewer {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /* center horizontally */
    display: block;
    overflow: hidden;
}